# Backend env
MONGO_URI=mongodb://mongo:27017/feedpulse
GEMINI_API_KEY=your_gemini_api_key_here
JWT_SECRET=supersecretjwtkey
ADMIN_EMAIL=admin@feedpulse.com
ADMIN_PASSWORD=FeedPulse123!

# Frontend env
NEXT_PUBLIC_API_URL=http://localhost:4000
